body {
    font-family:'Courier New', Courier, monospace;
}

p {
    margin: 0;
}

button {
    font-size: 15px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

header, footer {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

/* вертикальное выравнивание внутри флекса */
    align-items: center;
}

/*
 Чтобы обратиться к тегу p только внутри footer надо сначала написать родительский тег (footer) потом через пробел нужный тег
*/
footer p{
    margin: 0;
    text-align: center;
}

.заголовок, .наполнение {
    display: flex;
    align-items: center;
}
