{% load static %}
<div class="карточка">
            <div class="заголовок">
                <div>
                    <img src="{{ пост.автор.аватарка.картинка.url }}" alt="аватар" class="аватарка">
                </div>
                <div>
                    <p style="font-size: 20px; font-weight: 900;">
                        <a href="{% url "фильтрация_по_автору" пост.автор.id %}">{{ пост.автор }}</a>
                    </p>
                    <p style="font-size: 13px; ">{{ пост.дата_поста }}</p>
                </div>
            </div>
            <div class="наполнение">
                <div>
                    <img src="{{пост.картинка.url }}" alt="картинка поста" class="картинка">
                </div>
                <div>
                    <p>{{ пост.текст }}</p>
                    <div>
                        <a href="{% url "один_отзыв" пост.id %}">
                            {% if надо_показывать_кнопку_читать_полностью %}
                                <button>Читать полностью...</button>
                            {% endif %}
                        </a>
                    </div>
                </div>
                </div>
            <div class="кнопки">
                <div>
                    {% for тег in пост.тег.all %}
                        <button>{{тег.текст}}</button>
                    {% endfor %}
                </div>
                <div>
                    <button>👍🏻</button>
                    <button>👎🏻</button>
                    <button>🖊️</button>
                    <button>🗑️</button>
                </div>
            </div>
        </div>