 {% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/основной.css" %}">
    <link rel="stylesheet" href="{% static "css/цвета.css" %}">
    <script src="{% static 'джаваскрипт/скрипт.js' %}"></script>
</head>

<body>
    <header>
        <div>
            <button>Популярные теги</button>
        </div>
        <div>Логотип</div>

        <div>
            {% if user.is_authenticated %}
            {{ user.username}}
            <a href="{% url "создать_отзыв" %}?next={{ request.path }}"><button> Создать отзыв</button></a>
            <a href="{% url "выход" %}?next={{ request.path }}"><button>Выход</button></a>

            {% else %}
            <a href="{% url "вход" %}?next={{ request.path }}"><button>Вход</button></a>
            <a href="{% url "регистрация" %}?next={{ request.path }}"><button>Регистрация</button></a>
            {% endif %}
        </div>
    </header>

    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>
        <div>
            <img src="{% static "картинки/logo full.png" %}" alt="Логотип">
        </div>
        <div>
            <button>←</button>
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>→</button>
        </div>
        <div>
            <!-- Тег p создан для текста -->
            <p>Этот сайт создан с нуля</p>
            <p>на третьей ступени по питону</p>
            <p>в Коломенском Учебном Центре!</p>
        </div>
    </footer>
</body>
</html>