{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block заголовок %} Главная страница {% endblock заголовок %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="карточка">
        {% if отзыв %}
            <div class="заголовок">
                <img src="{{ отзыв.автор.аватарка.картинка.url }}" alt="аватарка" class="аватарка">
                <div>
                    {% comment %} 
                    отзыв - это переменная, созданная в файле выше внутри цикла
                    .автор и .дата - это названия полей внутри models.py
                    {% endcomment %}
                    <p class="имя-автора">{{ отзыв.автор }}</p>
                    <p class="дата-поста">{{ отзыв.дата }}</p>
                </div>
            </div>
        {% endif %}
        <div style="margin-top: 10px;">
            <input type="file" name="{{ форма.картинка.name }}" id="новый_файл" {% if not отзыв %} required {% endif %}>
        </div>
        <div class="наполнение">
            <div>
                {% if отзыв %}
                    <img src="{{ отзыв.картинка.url }}" alt="картинка поста" class="картинка-поста" id="картинка_поста">
                {% else %}
                    <img src="{% static 'картинки/плейсхолдер.jpg' %}" alt="картинка поста" class="картинка-поста" id="картинка_поста">
                {% endif %}
            </div>
            <div style="width: 100%;">
                {{ форма.текст|add_class:"поле-формы-большой-текст" }}
            </div>
        </div>
        <div class="завершение">
            <div class="теги">
                {{ форма.тег }}
            </div>
            <div>
                <button type="submit">💾 Сохранить изменения</button>
                {% if отзыв %}
                    <a href="{% url 'отзыв_детально' отзыв.id %}"><button type="button">↩️ Отмена</button></a>
                {% else %}
                    <a href="{% url 'домашняя' %}"><button type="button">↩️ Отмена</button></a>
                {% endif %}
            </div>
        </div>
    </div>
</form>

{% endblock content %}