{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Регистрация{% endblock %}
{% block content %}

<h1>Регистрация</h1>

    <form method="post">
        {% csrf_token %}

        <div>
            <p>Ваш юзернейм:</p>
            {{ form.username|add_class:"короткое-текстовое-поле" }}
            {% if form.username.errors %}
                <p class="error">{{ form.username.errors.0 }}</p>
            {% endif %}
        </div>
        
        <div>
            <p>Почта:</p>
            {{ form.email|add_class:"короткое-текстовое-поле" }}
            {% if form.email.errors %}
                <p class="error">{{ form.email.errors.0 }}</p>
            {% endif %}
        </div>

        <div>
            <p>Пароль:</p>
            {{ form.password1|add_class:"короткое-текстовое-поле" }}
            {% if form.password1.errors %}
                <p class="error">{{ form.password1.errors.0 }}</p>
            {% endif %}
        </div>
        
        <div>
            <p>Повторно пароль:</p>
            {{ form.password2|add_class:"короткое-текстовое-поле" }}
            {% if form.password2.errors %}
                <p class="error">{{ form.password2.errors.0 }}</p>
            {% endif %}
        </div>

        <button type="submit">Зарегистрироваться</button>
    </form>

{% endblock content %}